.WeatherCheckApp {
  display: grid;
  grid-template-rows: 65px auto 65px;

  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #161b30;

  font-family: SF Pro Display;
  font-size: 14px;
  line-height: 17px;
}

.WeatherCheckApp-logo {
  display: block;
  width: 194px;
  height: 65px;
  background: url("WeatherCheckLogo.svg");
  color: white;
}

.WeatherCheckApp-header {
  display: flex;
  justify-content: space-between;
  background-color: #2a2f45;
}

.WeatherCheckApp-menu {
  flex-grow: 2;
}

/* Псевдо-элемент в противоположность логотипу, чтобы внутреннее меню было по-центру */
.WeatherCheckApp-header::after {
  content: "";
  visibility: hidden;
  width: 194px;
}

.WeatherCheckApp-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.WeatherCheckApp-footer {
  padding: 10px 24px;
  background-color: #161b30;
  color: #8a91ab;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 665px) {
  .WeatherCheckApp {
    grid-template-rows: 65px auto 57px;
  }

  .WeatherCheckApp-header {
    background: none;
  }

  .WeatherCheckApp-header::after {
    display: none;
  }

  /* На мобилках в экране города мы прячем хидер, а main растягивается на весь экран*/
  .WeatherCheckApp-header_hidden {
    height: 0;
    overflow:hidden;
  }
  .WeatherCheckApp-header_hidden + .WeatherCheckApp-main {
    grid-row: 1 / 3;
  }

  .WeatherCheckApp-footer {
    visibility: hidden;
  }
}
