
.main__city {
  align-self: stretch;
  text-align: center;
  flex-grow: 2;
  background: radial-gradient(
    80.36% 80.36% at 50% 0%,
    #5a607c 0%,
    #161b30 100%
  );
}

.main__backarrow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: url("images/backicon.svg") no-repeat center center;
  background-size: 9.9px 16.97px;
}

.city {
  padding-top: 76px;
  color: white;
}

.city__name {
  font-size: 56px;
  font-weight: 500;
  line-height: 62px;
  margin-bottom: 16px;
}

.city__weather {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 16px;
}

.city__temp {
  margin-bottom: 40px;
}

.city__temp span {
  display: inline-block;
  font-size: 130px;
  font-weight: 600;
  line-height: 144px;
  vertical-align: middle;

  /* background: linear-gradient(180deg, #FFFFFF 11.65%, rgba(255, 255, 255, 0) 139.47%);
  -webkit-background-clip: text; 
  background-clip: text;
  color: rgba(255, 255, 255, 0.01); */
}

.city__temp img {
  display: inline-block;
  height: 218.58px;
  width: 218.58px;
  vertical-align: middle;
}

.city__barometer {
  margin-bottom: 40px;
}

.city__barometer span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 19px;
}

.city__barometer::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("images/barometer.svg") no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-right: 9.2px;
}

.city__daybreak {
  font-size: 16px;
  line-height: 18px;
  color: rgba(138, 145, 171, 1);
}

@media (max-width: 665px) {
  .header_mobile_hidden {
    height: 0;
  }

  .header_mobile_hidden .header__logo {
    display: none;
  }


  .main__city {
    background: linear-gradient(180deg, #5a607c 0%, #161b30 49.93%);
  }

  .main__backarrow {
    display: block;
  }
  .city {
    padding-top: 92px;
  }

  .city__name {
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 14px;
  }

  .city__weather {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 16px;
  }

  .city__temp {
    margin-bottom: 21px;
  }

  .city__temp span {
    display: block;
    font-size: 120px;
    font-weight: 600;
    line-height: 133px;
  }

  .city__temp img {
    display: block;
    height: 206px;
    width: 206px;
    margin: -32px auto;
  }

  .city__barometer span {
    font-size: 14px;
    line-height: 15.5px;
  }

  .city__barometer::before {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
